<!-- <div class="container">
    <input type="text" [(ngModel)]="searchStocks" placeholder="Search...">
    <button (click)="searchItem(searchStocks)">Search</button>
    
</div>
  
<div class=" container card text-white bg-secondary mb-3" style="max-width: 25rem;">
    <div class="card-body">
            <h2>Current price- {{cp}}</h2>
            <h5>High price of the day- {{h}} </h5>
            <h5>Low price of the day- {{l}}  </h5>
            <h5>Open price of the day- {{op}}</h5>
            <h5>Previous close price- {{cp}} </h5>
    </div>
</div> -->