<!-- <div class="container my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card rounded-lg shadow-lg">
          <div class="card-body">
            <h5 class="card-title">Stock Prices</h5>
            <h5>Current price - {{ cp }}</h5>
            <h5>High price of the day - {{ h }}</h5>
            <h5>Low price of the day - {{ l }}</h5>
            <h5>Open price of the day - {{ op }}</h5>
            <h5>Previous close price - {{ pc }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->